body > div,
body > div > div,
body > div > div > div.auth {
  height: 100%;

}

.auth {
  background-image: url('../assets/book_bg.jpg');
  background-size: cover;
  height: 1824px;
  background-position: center;
}
