body {
  margin: 0;
  padding: 0;
  color: #343c5a;
}

* {
  box-sizing: border-box;
}

.ui.header {
  font-weight: 200;
  letter-spacing: 1px;
}

.ui.form .field > label {
  font-weight: 200;
}

a {
  color: #a16f3e;
}

a:hover {
  color: #e9d9b1;
}
